/*【アドレスバー】境界線を削除*/
:is(.UrlBar-AddressField, .UrlBar-SearchField),
:is(.UrlBar-AddressField, .UrlBar-SearchField):focus {
  border: none !important;
  outline: none !important;
}

/*【アドレスバー】背景色をツールバーの背景に合わせる*/
:is(.UrlBar-AddressField, .UrlBar-SearchField),
:is(.UrlBar-AddressField, .UrlBar-SearchField):focus {
  background-color: var(--colorAccentBg) !important;
}

/*【アドレスバー】背景を透明化*/
:is(.UrlBar-AddressField, .UrlBar-SearchField),
:is(.UrlBar-AddressField, .UrlBar-SearchField):focus {
  background: transparent !important;
}

/*【ブックマークバー】背景を透明化*/
.bookmark-bar, .bookmark-bar button {
  background-color: transparent !important;
}

/*【ブックマークバー】枠線を除去*/
.bookmark-bar {
  border: none !important;
}

/*【ツールバー】境界線を削除*/
:is(.toolbar,.toolbar-extensions)::before {
  background-color: transparent !important;
}

/*【ツールバー】背景の透明化*/
.toolbar-mainbar, /*アドレスバー以外のツールバー*/
.toolbar-mainbar .toolbar-extensions, /*表示している拡張機能*/
.toolbar-extensions>div /*「ボタンを隠す」で非表示にしている拡張機能*/ {
  background: transparent !important;
}

/*【ヘッダー】背景の透明化*/
div#header {
  background-color: transparent !important;
}

/*【パネル】背景の透明化*/
#panels-container, .panel-group {
  background-color: transparent !important;
}

/*【パネル】影の削除*/
#panels-container {
  box-shadow: none !important;
}

/*【ステータスバー】背景の透明化*/
footer {
  background: transparent !important;
  box-shadow: none !important;
}

/*【ステータスバー】背景の透明化＆角丸化*/
#webview-container ~ .StatusInfo .StatusInfo-Content {
  background: transparent;
  border: none;
  border-radius: var(--radius);
  backdrop-filter: var(--backgroundBlur);
}

/*【アドレスバー】ドロップダウンリストの透明化*/
.UrlBar-UrlFieldWrapper .OmniDropdown {
  background-color: transparent !important;
  backdrop-filter: var(--backgroundBlur) !important;
}

/*【クイックコマンド】背景の透明化*/
/*上部の検索欄*/
#modal-bg>div {
  background: transparent;
  backdrop-filter: var(--backgroundBlur);
}

/*下部のコマンド欄*/
.quick-command-container .quick-commands {
  background-color: transparent;
  backdrop-filter: var(--backgroundBlur);
}

/*【スピードダイヤル】背景の透明化*/
.startpage .dial {
  background-color: transparent !important;
  box-shadow: none !important;
}

/*【ナビゲーションバー】透明化*/
.startpage .startpage-navigation {
  background-color: transparent !important;
  box-shadow: none !important;
}

/*ダイアログ関連（セッション、プライバシー統計バー）*/
#modal-bg.slide > div {
  border-radius: var(--radius) !important; /*角丸化強化*/
}

/*【ウェブページの表示領域】サイトの四隅を角丸化*/
#webpage-stack {
  border-radius: 20px !important;
}

/*【ブックマークマネージャー】透明化*/
.bookmark.manager :is(.toolbar, .sortselector, .manager-content) {
  background-color: transparent !important;
  backdrop-filter: var(--backgroundBlur) !important;
}

/*【履歴（vivaldi://history/）】透明化*/
.history.manager :is(.toolbar, .sortselector, .manager-content,.tree-row.folder) {
  background-color: transparent !important;
  backdrop-filter: var(--backgroundBlur) !important;
}

/*【メモ（vivaldi://notes/）ページ】透明化*/
.NotesManager, .NotesManager :is(.toolbar, .sortselector) {
  background-color: transparent !important;
  backdrop-filter: var(--backgroundBlur) !important;
}
